# 1. Perulangan / Looping
Sintaks yang digunakan untuk menjalankan sebuah kode program secara berulang kali hingga step yang ditentukan

In [1]:
# SINTAKS FOR #for harus tahu berakhirnya dimana
# range(start,end,step)
for i in range(0,10,2):
    print(i,"=",i**2)

0 = 0
2 = 4
4 = 16
6 = 36
8 = 64

In [6]:
#SINTAKS WHILE #while hanya diketahui kondisi
i = 0
while i<10:
    print(i)
    i = i + 1 #increment/updating
    #kalau kondisi di atas dihilangkan maka yang akan terjadi adalah pengulangan yang tidak berhenti (invinite looping) akan keluar angka 0 terus
    #kalau ingin menghapus output klik (cell---->current outputs---->clear)

0
1
2
3
4
5
6
7
8
9

# 2. List
Tipe data yang digunakan untuk menyimpan beberapa nilai dalam satu variabel

In [9]:
# Deklarasi List

#Dapat Berisi Angka
nilai = [30,40,50,60,70,80,90]
print(nilai)

#Dapat berisi String
peserta = ['Ani','Budi','Catra','Desi']
print(peserta)

#Dapat juga berisi campuran tipe data
campuran = ['Big',2.5, 90, 'Data']
print(campuran)

#Jika bekerja dengan tipe data besar maka akan digunakan cara lain seperti sql database atau trik-trik lain.
#tidak ada aturan list itu harus 1 tipe data
#di python array itu adalah list, tapi array kalau di c++ harus 1 tipe data

[30, 40, 50, 60, 70, 80, 90]
['Ani', 'Budi', 'Catra', 'Desi']
['Big', 2.5, 90, 'Data']

# 2.1 List Index
Untuk mengakses elemen tertentu di dalam list, kita dapat menggunakan list index. Index list dimulai dari 0. Index di dalam python juga dapat dibuat negatif, yang artinya index akan ditelusuri dari belakang

|30 |40 |50 |60 |70 |80 |90 |
|---|---|---|---|---|---|---|
|0  |1  |2  |3  |4  |5  |6  |

In [11]:
print(nilai[0])
print(nilai[4])
print(nilai[-1])
print(nilai[-3]) #min artinya memanggil dari belakang

print(peserta[-2])

30
70
90
70
Catra

# 2.2 Menambah Elemen ke Dalam List

In [12]:
#append untuk menambahkan nilai yang nanti diletakkan di paling belakang

nilai.append(40)
print(nilai)

[30, 40, 50, 60, 70, 80, 90, 40]

# 2.3 Slicing List
Slicing digunakan untuk memilih beberapa kelompok nilai dari list dengan memanfaatkan range index

In [14]:
# elemen ke 3 sampai ke 5 / indeks ke 2 sampai indeks ke 4 (indeks ngitungnya dari 0)
print(nilai[2:5])

# elemen ke 1 sampai ke 3 (dikurangi 5 elemen dari belakang ) / dari indeks 0 sampai ke indeks ke n(indeks)-5
print(nilai[:-5])

# elemen ke 6 sampai ke 8 (dikurangi 5 elemen dari depan) / dari indeks ke 5 sampai terakhir
print(nilai[5:])

# tidak ada pengurangan / otomatis dari indeks depan sampai terakhir
print(nilai[:])

#var[indeks awal: batas indeks / yang tidak termasuk]

[50, 60, 70]
[30, 40, 50]
[80, 90, 40]
[30, 40, 50, 60, 70, 80, 90, 40]

# 2.4 Perulangan dalam list
Dalam mengakses setiap elemen dalam list, kita dapat menggunakan sintaks perulangan for yang telah kita pelajari sebelumnya

In [21]:
for n in nilai:
    print(n)

30
40
50
60
70
80
90
40

In [18]:
for n in nilai:
    print(n**2)

900
1600
2500
3600
4900
6400
8100
1600

In [25]:
#cara untuk menambahkan indeks
for i,n in enumerate(nilai):
    print(i,n)

0 30
1 40
2 50
3 60
4 70
5 80
6 90
7 40

# Contoh
Berapakah rata-rata nilai dari list tersebut?

In [28]:
# ALGORITMA RATA-RATA

total = 0 #inisialisasi, total dalam integer, untuk membuat total sebagai flloat bisa juga ditulis total = 0.0
for n in nilai:
    total = total + n #bisa juga ditulis total+=n

    #type casting : cara untuk memperlakukan n yang merupakan integer sebagai float, maka total di atas ditulis total = total + float(n)
    
rata = total / len(nilai) #len(nilai) adalah panjangnya list nilai
print(rata)

57.5

# Lookup Nilai dalam List

In [29]:
n = 95
if n in nilai: # jika n ada di list nilai
    print(n, "ada dalam list")
else:
    print(n, "tidak ada dalam list")

95 tidak ada dalam list

In [30]:
n = 40
if n in nilai: # jika n ada di list nilai
    print(n, "ada dalam list")
else:
    print(n, "tidak ada dalam list")

40 ada dalam list

# 2.5 Latihan
Tampilkan Nilai yang Lebih dari sama dengan (>=) rata-ratanya

In [34]:
print("Nilai yang lebih dari sama dengan rata-ratanya adalah")
for n in nilai:
    if n >= rata: 
        print(n)

Nilai yang lebih dari sama dengan rata-ratanya adalah
60
70
80
90

# 3. Tuple
Tuple merupakan tipe data yang mirip dengan list, namun berifat immutable atau tidak dapat ditambah dan diubah nilainya. Keuntungan dari penggunaan tuple adalah, pengaksesan datanya lebih cepat.

In [37]:
# Deklarasi Tuple
bulan = ("Januari","Februari","Maret","April","Mei","Juni","Juli","Agustus","September","Oktober","November","Desember")
print(bulan)

#list yang sudah paten, baca data tuple lebih cepat dari pada list, biasanya dipakai untuk membaca tipe data dictionary

('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')

# 3.1 Akses Elemen dan Slicing
Konsep dalam melakukan akses elemen dan slicing sama persis dengan di list

In [38]:
print(bulan[0])
print(bulan[4])
print(bulan[-1])
print(bulan[-3])

Januari
Mei
Desember
Oktober

In [39]:
print(bulan[2:5])

print(bulan[:-5])

print(bulan[5:])

print(bulan[:])

('Maret', 'April', 'Mei')
('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli')
('Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')
('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')

# 3.2 Pengulangan dalam Tuple
Konsep perulangan juga sama dengan list

In [40]:
for b in bulan:
    print(b)

Januari
Februari
Maret
April
Mei
Juni
Juli
Agustus
September
Oktober
November
Desember

# 4. Dictionary
Dictionary dalam Python berbeda dengan List ataupun Tuple. Karena setiap urutanya berisi key dan value. Setiap key dipisahkan dari value-nya oleh titik dua (:), item dipisahkan oleh koma, dan semuanya tertutup dalam kurung kurawal. Dictionary kosong tanpa barang ditulis hanya dengan dua kurung kurawal, seperti ini: {}.

# 4.1 Membuat dan Mengakses Dictionary

In [41]:
siswa = {'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}
print(siswa)
print(siswa['Nama'])
print(siswa['Umur'])
print(siswa['JenisKelamin'])

{'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}
Budi
7
Laki-Laki

In [48]:
siswa = {'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}
siswa2 = {'Nama': 'Siti', 'Umur': 8, 'JenisKelamin': 'Perempuan'}

list_siswa = []
list_siswa.append(siswa) #list siswa ditambahkan ke list list_siswa, indeks ke 0 isinya list siswa, indeks ke 2 isinya list siswa2
list_siswa.append(siswa2)
print(list_siswa[1]) #dipanggil elemen ke 1 / indeks ke 1

{'Nama': 'Siti', 'Umur': 8, 'JenisKelamin': 'Perempuan'}

In [49]:
siswa = {'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}
siswa2 = {'Nama': 'Siti', 'Umur': 8, 'JenisKelamin': 'Perempuan'}

list_siswa = []
list_siswa.append(siswa) #list siswa ditambahkan ke list list_siswa, indeks ke 0 isinya list siswa, indeks ke 2 isinya list siswa2
list_siswa.append(siswa2)
print(list_siswa[0]) #dipanggil elemen ke 1 / indeks ke 0

{'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}

In [51]:
print(list_siswa)

[{'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}, {'Nama': 'Siti', 'Umur': 8, 'JenisKelamin': 'Perempuan'}]

In [52]:
print(siswa2)
print(siswa2['Nama'])
print(siswa2['Umur'])
print(siswa2['JenisKelamin'])

{'Nama': 'Siti', 'Umur': 8, 'JenisKelamin': 'Perempuan'}
Siti
8
Perempuan

# 4.2 Mengubah nilai Dictionary

In [53]:
siswa['Nama'] = 'Jun'
print(siswa)

{'Nama': 'Jun', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}

# 4.3 Menambahkan Elemen

In [54]:
siswa['Alamat'] = "Jl. Kaliurang KM 5"
print(siswa)

{'Nama': 'Jun', 'Umur': 7, 'JenisKelamin': 'Laki-Laki', 'Alamat': 'Jl. Kaliurang KM 5'}

In [56]:
# List sebagai nilai dari elemen Dictionary
siswa["Nilai"] = nilai #list nilai
print(siswa)

for n in siswa["Nilai"]: #memanggil nilai
    print(n)

{'Nama': 'Jun', 'Umur': 7, 'JenisKelamin': 'Laki-Laki', 'Alamat': 'Jl. Kaliurang KM 5', 'Nilai': [30, 40, 50, 60, 70, 80, 90, 40]}
30
40
50
60
70
80
90
40

In [59]:
#untuk menampilkan semua data dalam dictionary siswa
for k,v in siswa.items(): #dictionary siswa
    print(k,v) #k=key, v=value

Nama Jun
Umur 7
JenisKelamin Laki-Laki
Alamat Jl. Kaliurang KM 5
Nilai [30, 40, 50, 60, 70, 80, 90, 40]

In [62]:
#untuk menampilkan semua data dalam dictionary list_siswa
for a in list_siswa: #a terserah bisa huruf lain yang belum dipakai
    print("===================")
    for k,v in a.items(): #dictionary list_siswa
        print(k,v) #k=key, v=value

===================
Nama Jun
Umur 7
JenisKelamin Laki-Laki
Alamat Jl. Kaliurang KM 5
Nilai [30, 40, 50, 60, 70, 80, 90, 40]
===================
Nama Siti
Umur 8
JenisKelamin Perempuan

# 5. Operasi String
Pada pertemuan sebelumnya telah dijelaskan mengenai string. Dalam python cukup banyak operasi yang dikenakan pada string, yang akan berguna dalam analisis data

# 5.1 Slicing dan Akses per Karakter

In [63]:
#indeks ke 0 adalah T, dst, indeks -1 adalah n, indeks -2 adalah o, dst
nama = "Tutorial Bahasa Pemrograman Python"
print(nama[0:6])
print(nama[20:30])

Tutori
ograman Py

In [66]:
for n in nama:
    print(n) #spasi termasuk karakter

T
u
t
o
r
i
a
l

B
a
h
a
s
a

P
e
m
r
o
g
r
a
m
a
n

P
y
t
h
o
n

In [65]:
for n in nama:
    print(n[0:6])

T
u
t
o
r
i
a
l

B
a
h
a
s
a

P
e
m
r
o
g
r
a
m
a
n

P
y
t
h
o
n

# 5.2 Merubah String menjadi list Kata
Menggunakan fungsi split. Fungsi split dapat diberikan parameter berupa karakter pemisahnya. Jika tidak diberikan parameter maka secara default, pemisahnya adalah spasi.

In [68]:
kata = nama.split() #string jadi list kata, tidak diberi parameter apapun pemisahnya jadinya spasi
print(kata)
print(kata[0])
print(kata[2])

paragraf = "Pada hari minggu kuturut ayah ke kota. Naik Delman istimewa kududuk di muka. Duduk disamping pak kusir yang sedang bekerja"
kalimat = paragraf.split(".") #"." sebagai pemisah agar menjadi kalimat sendiri-sendiri
print(kalimat)
print(kalimat[2])

['Tutorial', 'Bahasa', 'Pemrograman', 'Python']
Tutorial
Pemrograman
['Pada hari minggu kuturut ayah ke kota', ' Naik Delman istimewa kududuk di muka', ' Duduk disamping pak kusir yang sedang bekerja']
 Duduk disamping pak kusir yang sedang bekerja

In [72]:
kata = nama.split("P") #string jadi list kata, P sebagai pemisah
print(kata)
print(kata[0])
print(kata[2])

paragraf = "Pada hari minggu kuturut ayah ke kota. Naik Delman istimewa kududuk di muka. Duduk disamping pak kusir yang sedang bekerja"
kalimat = paragraf.split(".") #"." sebagai pemisah agar menjadi kalimat sendiri-sendiri
print(kalimat)
print(kalimat[2])

['Tutorial Bahasa ', 'emrograman ', 'ython']
Tutorial Bahasa
ython
['Pada hari minggu kuturut ayah ke kota', ' Naik Delman istimewa kududuk di muka', ' Duduk disamping pak kusir yang sedang bekerja']
 Duduk disamping pak kusir yang sedang bekerja

In [73]:
for k in kalimat:
    print(k)

Pada hari minggu kuturut ayah ke kota
 Naik Delman istimewa kududuk di muka
 Duduk disamping pak kusir yang sedang bekerja

In [76]:
for k in kalimat:
    print(k,k.split())

Pada hari minggu kuturut ayah ke kota ['Pada', 'hari', 'minggu', 'kuturut', 'ayah', 'ke', 'kota']
 Naik Delman istimewa kududuk di muka ['Naik', 'Delman', 'istimewa', 'kududuk', 'di', 'muka']
 Duduk disamping pak kusir yang sedang bekerja ['Duduk', 'disamping', 'pak', 'kusir', 'yang', 'sedang', 'bekerja']

In [77]:
for k in kalimat:
    print(k.split())

['Pada', 'hari', 'minggu', 'kuturut', 'ayah', 'ke', 'kota']
['Naik', 'Delman', 'istimewa', 'kududuk', 'di', 'muka']
['Duduk', 'disamping', 'pak', 'kusir', 'yang', 'sedang', 'bekerja']

# 5.3 Pencarian kata dalam String

In [80]:
cari = 'Python'
if cari in nama: #dictionary nama isinya Tutorial bahasa Pemrograman Python
    print("Found!")
else:
    print("Not Found!")

Found!

In [79]:
cari = 'string'
if cari in nama:
    print("Found!")
else:
    print("Not Found!")

Not Found!

# 5.4 Replace String

In [81]:
paragraf = "Pada hari minggu kuturut ayah ke kota. Naik Delman istimewa kududuk di muka. Duduk disamping pak kusir yang sedang bekerja"
paragraf = paragraf.replace('minggu','senin')
paragraf = paragraf.replace('ayah','ibu')
print(paragraf)

Pada hari senin kuturut ibu ke kota. Naik Delman istimewa kududuk di muka. Duduk disamping pak kusir yang sedang bekerja

# 5.5 Panjang String, Lowercase, Uppercase

In [83]:
print(len(nama)) #spasi dihitung
print(nama.upper())
print(nama.lower())

34
TUTORIAL BAHASA PEMROGRAMAN PYTHON
tutorial bahasa pemrograman python

# LATIHAN 2

Diberikan sekumpulan Nilai Random antara 0 sampai dengan 100 sebanyak 250 nilai. Buatlah program untuk melakukan hal berikut:

1. Tampilkan Angka Ganjil dari ke 250 nilai tersebut
2. Tampilkan berapa banyak yang mendapatkan nilai lebih dari 70
3. Tampilkan standar deviasi dari sekumpulan nilai 
4. Tampilkan nilai maksimum dan minimum
5. Tampilkan modus dari sekumpulan nilai tersebut

In [84]:
import random

# GENERATE RANDOM
nilaiTugas = []
for i in range(250):
    nilaiTugas.append(random.randrange(1,100,1))

print(nilaiTugas)

# TAMPILKAN:
# ganjil
# nilai > 70
# standar deviasi
# maksimum
# minimum
# modus

[75, 52, 12, 26, 54, 77, 8, 64, 31, 52, 96, 32, 71, 74, 65, 86, 73, 23, 70, 32, 31, 16, 28, 55, 29, 38, 23, 3, 40, 7, 73, 63, 43, 2, 47, 41, 10, 56, 49, 8, 6, 47, 57, 31, 77, 85, 66, 10, 2, 28, 48, 78, 91, 49, 52, 99, 31, 21, 81, 74, 29, 90, 83, 77, 17, 14, 73, 71, 95, 15, 15, 93, 1, 43, 61, 61, 68, 47, 16, 88, 52, 29, 36, 94, 63, 58, 47, 89, 10, 24, 85, 12, 88, 31, 90, 21, 68, 19, 78, 64, 67, 47, 19, 78, 39, 30, 91, 26, 22, 35, 87, 12, 95, 46, 80, 44, 82, 67, 41, 71, 77, 69, 68, 15, 55, 1, 8, 20, 33, 15, 49, 62, 80, 47, 53, 2, 67, 40, 92, 68, 56, 78, 24, 92, 43, 24, 19, 99, 27, 23, 10, 34, 2, 23, 45, 82, 92, 45, 98, 10, 78, 18, 33, 44, 43, 50, 24, 41, 85, 24, 62, 97, 24, 90, 53, 87, 56, 98, 93, 44, 20, 67, 78, 20, 70, 66, 82, 63, 8, 62, 57, 80, 1, 73, 39, 83, 95, 70, 81, 98, 68, 84, 90, 7, 32, 72, 61, 53, 26, 7, 20, 69, 66, 89, 78, 68, 77, 53, 37, 18, 76, 17, 81, 58, 66, 92, 97, 16, 29, 94, 49, 76, 20, 88, 46, 50, 89, 13, 85, 3, 66, 53, 84, 66, 9, 69, 69, 85, 79, 6]

# LATIHAN 3 - Word Count
Diberikan sebuah paragraf, hitunglah banyak kemunculan masing-masing kata. Contoh : "Presiden pagi ini melakukan kunjungan ke Jogja"

* Presiden: 1
* pagi: 1
* ini: 1
* melakukan: 1
* kunjungan: 1
* ke: 1
* Jogja: 1

hints: Gunakan Dictionary dalam menyimpan word count. Gunakan kata sebagai key, dan jumlah kemunculan sebagai value

In [86]:

paragraf = "Barcelona berhasil merebut posisi puncak klasemen La Liga Spanyol seusai menang 4-2 atas Sevilla pada pertandingan pekan kesembilan di Stadion Camp Nou, Sabtu (20/10/2018) atau Minggu dini hari WIB. Barcelona membuka keunggulan pada menit ke-2 melalui gol yang dicetak oleh Philippe Coutinho. Lionel Messi menggandakan keunggulan Barcelona, 10 menit berselang.  Namun, nahas bagi Barcelona, karena Messi harus ditarik keluar pada menit ke-26 setelah mengalami cedera. Tanpa Messi, skor 2-0 bertahan hingga babak pertama berakhir."
print(paragraf)

#untuk upload di github langsung git add . lalu git push

Barcelona berhasil merebut posisi puncak klasemen La Liga Spanyol seusai menang 4-2 atas Sevilla pada pertandingan pekan kesembilan di Stadion Camp Nou, Sabtu (20/10/2018) atau Minggu dini hari WIB. Barcelona membuka keunggulan pada menit ke-2 melalui gol yang dicetak oleh Philippe Coutinho. Lionel Messi menggandakan keunggulan Barcelona, 10 menit berselang.  Namun, nahas bagi Barcelona, karena Messi harus ditarik keluar pada menit ke-26 setelah mengalami cedera. Tanpa Messi, skor 2-0 bertahan hingga babak pertama berakhir.