In [1]:
from twython import Twython
import pandas as pd

In [2]:
TWITTER_APP_KEY = "bgAsjeaOjDhijVVNj0CKvmXd1"
TWITTER_APP_KEY_SECRET = "i4ogIK1Pw0sHtPMve71JgzONGGz5osFNoKELQ31QmXdJZK6CJF"
TWITTER_ACCESS_TOKEN = "946009581813039106-1p9P45cWrcjhgugctlTA48VzkxkoKxT"
TWITTER_ACCESS_TOKEN_SECRET = "CXF8ijxLrF4T9KHXsNR8XhJx77uKARW9KGS0PtrOeYa4j"

In [3]:
t = Twython(app_key=TWITTER_APP_KEY, 
            app_secret=TWITTER_APP_KEY_SECRET, 
            oauth_token=TWITTER_ACCESS_TOKEN, 
            oauth_token_secret=TWITTER_ACCESS_TOKEN_SECRET)

In [4]:
#Query
term = 'Chanyeol'
tweet_metadatas = t.search(q=term,count=365,result_type='recent',lang='id')

In [5]:
#Scrapping
data_list = []
for tweet in tweet_metadatas['statuses']:
    meta = dict()
    meta['tweet'] = tweet['text']
    meta['timestamp'] = tweet['created_at']
    meta['username'] = tweet['user']['screen_name']
    
    data_list.append(meta)

In [6]:
#Visual
data = pd.DataFrame(data_list)
data.head()

,timestamp,tweet,username
0,Fri Oct 26 00:12:58 +0000 2018,"[bot] chanyeol sedang pergi ke negara api, sil...",SH_Chanyeol92
1,Fri Oct 26 00:12:38 +0000 2018,"Chanyeol pandai bermain gitar akustik, gitar l...",nabilasobr
2,Fri Oct 26 00:12:03 +0000 2018,Juga terkenal dengan King of derp. Maknae pals...,piddio
3,Fri Oct 26 00:10:58 +0000 2018,RT @sehunsscent: 181025 #chanyeol omg ðŸ˜±ðŸ˜±ðŸ˜±ðŸ’—ðŸ’—ðŸ’—ðŸ’—ðŸ’—...,in2theLoeyland
4,Fri Oct 26 00:10:55 +0000 2018,"RT @ERPEPOST: #rpt yok followan sama chanyeol,...",reaIpeceye

In [7]:
#Export
writer = pd.ExcelWriter('resultchanyeol.xlsx')
data.to_excel(writer,'Sheet1',index=False)
writer.save()